$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;

$color1: white;
$color2: #25cae7;
$color2_1: #ad4126;
$color2_light: rgb(249, 141, 141);
$color3: #161616;
$color3_1: #161616;
$color3_2: #16161644;
$color4: rgba(155, 155, 154, 0.592);
